<!-- shows create project button on project page and create issue buton if the project is open -->
<link rel="stylesheet" href="/css/header.css">

<nav class="">

  <a href="/"> Issue Tracker </a>

</nav>

